IoT/Gardening System/MatthewJC_DIOTA_Assignment_TP063123_NodeREDFLOW.json
[
    {
        "id": "5e04b9dd.81c658",
        "type": "tab",
        "label": "MQTT Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "235eb13c.0e6e6e",
        "type": "mqtt in",
        "z": "5e04b9dd.81c658",
        "name": "",
        "topic": "sensor/DHT22/temperature_celsius",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f25903377b8d3291",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "7e75f56e.a3ef1c",
                "125d1072.694a2",
                "e7ceda1089af8bc5"
            ]
        ]
    },
    {
        "id": "7e75f56e.a3ef1c",
        "type": "debug",
        "z": "5e04b9dd.81c658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "98d00e19.a6762",
        "type": "mqtt in",
        "z": "5e04b9dd.81c658",
        "name": "",
        "topic": "sensor/DHT22/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f25903377b8d3291",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "07048bb50e4963b7",
                "89bc352.e41bac8",
                "2c066a0a5044c8ff"
            ]
        ]
    },
    {
        "id": "89bc352.e41bac8",
        "type": "ui_gauge",
        "z": "5e04b9dd.81c658",
        "name": "Humidity",
        "group": "92a9cd27.99b9d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 340,
        "y": 180,
        "wires": []
    },
    {
        "id": "125d1072.694a2",
        "type": "ui_chart",
        "z": "5e04b9dd.81c658",
        "name": "Temperature",
        "group": "9ff86fa2b3b8e56c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 490,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "07048bb50e4963b7",
        "type": "debug",
        "z": "5e04b9dd.81c658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "2c066a0a5044c8ff",
        "type": "influxdb out",
        "z": "5e04b9dd.81c658",
        "influxdb": "c0e9b8ca5ea1b483",
        "name": "humidity",
        "measurement": "sensor/DHT22/humidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 340,
        "y": 260,
        "wires": []
    },
    {
        "id": "e7ceda1089af8bc5",
        "type": "influxdb out",
        "z": "5e04b9dd.81c658",
        "influxdb": "c0e9b8ca5ea1b483",
        "name": "temperature_celsius",
        "measurement": "sensor/DHT22/temperature_celsius",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 520,
        "y": 540,
        "wires": []
    },
    {
        "id": "05287004478d185d",
        "type": "mqtt in",
        "z": "5e04b9dd.81c658",
        "name": "",
        "topic": "sensor/DHT22/temperature_fahrenheit",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f25903377b8d3291",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 190,
        "y": 680,
        "wires": [
            [
                "6fb43ce18f8e7f88",
                "986949eac3dc5998",
                "754d50676166fab1"
            ]
        ]
    },
    {
        "id": "6fb43ce18f8e7f88",
        "type": "debug",
        "z": "5e04b9dd.81c658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 640,
        "wires": []
    },
    {
        "id": "986949eac3dc5998",
        "type": "ui_chart",
        "z": "5e04b9dd.81c658",
        "name": "Temperature",
        "group": "9ff86fa2b3b8e56c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 510,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "754d50676166fab1",
        "type": "influxdb out",
        "z": "5e04b9dd.81c658",
        "influxdb": "c0e9b8ca5ea1b483",
        "name": "temperature_fahrenheit",
        "measurement": "sensor/DHT22/temperature_fahrenheit",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 550,
        "y": 820,
        "wires": []
    },
    {
        "id": "15d4394cc218b785",
        "type": "mqtt in",
        "z": "5e04b9dd.81c658",
        "name": "",
        "topic": "sensor/NPK/nitrogen",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f25903377b8d3291",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1330,
        "y": 120,
        "wires": [
            [
                "24a663c97df004b7",
                "458caa23f2578b1e",
                "d22587b0ded32a91"
            ]
        ]
    },
    {
        "id": "458caa23f2578b1e",
        "type": "ui_gauge",
        "z": "5e04b9dd.81c658",
        "name": "Humidity",
        "group": "92a9cd27.99b9d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 1560,
        "y": 180,
        "wires": []
    },
    {
        "id": "24a663c97df004b7",
        "type": "debug",
        "z": "5e04b9dd.81c658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 100,
        "wires": []
    },
    {
        "id": "d22587b0ded32a91",
        "type": "influxdb out",
        "z": "5e04b9dd.81c658",
        "influxdb": "c0e9b8ca5ea1b483",
        "name": "nitrogen",
        "measurement": "sensor/NPK/nitrogen",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1560,
        "y": 260,
        "wires": []
    },
    {
        "id": "d860eca1168c73a5",
        "type": "mqtt in",
        "z": "5e04b9dd.81c658",
        "name": "",
        "topic": "sensor/NPK/phosphorous",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f25903377b8d3291",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1410,
        "y": 400,
        "wires": [
            [
                "565b46276f2c2de1",
                "e366541bbad92b91",
                "0b116b1850e238bf"
            ]
        ]
    },
    {
        "id": "e366541bbad92b91",
        "type": "ui_gauge",
        "z": "5e04b9dd.81c658",
        "name": "Humidity",
        "group": "92a9cd27.99b9d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 1620,
        "y": 460,
        "wires": []
    },
    {
        "id": "565b46276f2c2de1",
        "type": "debug",
        "z": "5e04b9dd.81c658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 380,
        "wires": []
    },
    {
        "id": "0b116b1850e238bf",
        "type": "influxdb out",
        "z": "5e04b9dd.81c658",
        "influxdb": "c0e9b8ca5ea1b483",
        "name": "phosphorous",
        "measurement": "sensor/NPK/phosphorous",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1630,
        "y": 540,
        "wires": []
    },
    {
        "id": "95047901919f7992",
        "type": "mqtt in",
        "z": "5e04b9dd.81c658",
        "name": "",
        "topic": "sensor/NPK/potassium",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f25903377b8d3291",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1380,
        "y": 660,
        "wires": [
            [
                "1c324fc23115f6e7",
                "486659538af3fd54",
                "a808812994199cc2"
            ]
        ]
    },
    {
        "id": "486659538af3fd54",
        "type": "ui_gauge",
        "z": "5e04b9dd.81c658",
        "name": "Humidity",
        "group": "92a9cd27.99b9d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 1600,
        "y": 720,
        "wires": []
    },
    {
        "id": "1c324fc23115f6e7",
        "type": "debug",
        "z": "5e04b9dd.81c658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 640,
        "wires": []
    },
    {
        "id": "a808812994199cc2",
        "type": "influxdb out",
        "z": "5e04b9dd.81c658",
        "influxdb": "c0e9b8ca5ea1b483",
        "name": "potassium",
        "measurement": "sensor/NPK/potassium",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1610,
        "y": 800,
        "wires": []
    },
    {
        "id": "5907e9976957838c",
        "type": "mqtt in",
        "z": "5e04b9dd.81c658",
        "name": "",
        "topic": "sensor/soil_moisture",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f25903377b8d3291",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 850,
        "y": 120,
        "wires": [
            [
                "9c2d68e696d0f72f",
                "3425afd659574a42",
                "a38ccd1dcc7a10e2"
            ]
        ]
    },
    {
        "id": "71a67c49c08631ef",
        "type": "mqtt in",
        "z": "5e04b9dd.81c658",
        "name": "",
        "topic": "sensor/ldr",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f25903377b8d3291",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 820,
        "y": 400,
        "wires": [
            [
                "1d2b76ed2063e3d1",
                "ac58ea941829fb45",
                "86edeb68ab4184de"
            ]
        ]
    },
    {
        "id": "bee666bd124455e2",
        "type": "mqtt in",
        "z": "5e04b9dd.81c658",
        "name": "",
        "topic": "sensor/ph",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f25903377b8d3291",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 820,
        "y": 660,
        "wires": [
            [
                "9805a41f2e279cb1",
                "30ca504c50f4901f",
                "c34fe27324917338"
            ]
        ]
    },
    {
        "id": "9c2d68e696d0f72f",
        "type": "ui_gauge",
        "z": "5e04b9dd.81c658",
        "name": "soil",
        "group": "92a9cd27.99b9d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "soil",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 1050,
        "y": 180,
        "wires": []
    },
    {
        "id": "3425afd659574a42",
        "type": "debug",
        "z": "5e04b9dd.81c658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 100,
        "wires": []
    },
    {
        "id": "a38ccd1dcc7a10e2",
        "type": "influxdb out",
        "z": "5e04b9dd.81c658",
        "influxdb": "c0e9b8ca5ea1b483",
        "name": "soil_moisture",
        "measurement": "sensor/soil_moisture",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1070,
        "y": 260,
        "wires": []
    },
    {
        "id": "1d2b76ed2063e3d1",
        "type": "ui_gauge",
        "z": "5e04b9dd.81c658",
        "name": "ldr",
        "group": "92a9cd27.99b9d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "ldr",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 1070,
        "y": 460,
        "wires": []
    },
    {
        "id": "ac58ea941829fb45",
        "type": "debug",
        "z": "5e04b9dd.81c658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 380,
        "wires": []
    },
    {
        "id": "86edeb68ab4184de",
        "type": "influxdb out",
        "z": "5e04b9dd.81c658",
        "influxdb": "c0e9b8ca5ea1b483",
        "name": "ldr",
        "measurement": "sensor/ldr",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1070,
        "y": 540,
        "wires": []
    },
    {
        "id": "9805a41f2e279cb1",
        "type": "ui_gauge",
        "z": "5e04b9dd.81c658",
        "name": "ph",
        "group": "92a9cd27.99b9d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "ph",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 1070,
        "y": 720,
        "wires": []
    },
    {
        "id": "30ca504c50f4901f",
        "type": "debug",
        "z": "5e04b9dd.81c658",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 640,
        "wires": []
    },
    {
        "id": "c34fe27324917338",
        "type": "influxdb out",
        "z": "5e04b9dd.81c658",
        "influxdb": "c0e9b8ca5ea1b483",
        "name": "ph",
        "measurement": "sensor/ph",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1070,
        "y": 800,
        "wires": []
    },
    {
        "id": "f25903377b8d3291",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "192.168.100.44",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "92a9cd27.99b9d",
        "type": "ui_group",
        "name": "hum",
        "tab": "edd4b00bce587aad",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9ff86fa2b3b8e56c",
        "type": "ui_group",
        "name": "temp",
        "tab": "edd4b00bce587aad",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c0e9b8ca5ea1b483",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "diota_assignment",
        "name": "influx",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "edd4b00bce587aad",
        "type": "ui_tab",
        "name": "test1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]